<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - MVC</title>
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" asp-appendversion="
true" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    asp-fallback-href="~/lib/bootstrap/css/bootstrap.css"
    asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallbacktest-
    value="absolute"
</environment>
<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />